
/*Basics*/
*{
    font-family: 'Raleway', sans-serif;
}
img {
    height: auto;
    width: 100%;
}
body{
    margin: 0;
    background-color: #E5E3E3;
}
p{
    font-weight: 300;
    color: #333333;
    padding:0 1vw;
    font-size: 15px;
}
/*header and navigation*/
header{
    background-color: #333333;}

.logo{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #333333;
    position: fixed;
    left: 47.5vw;
    /* align-self: center; */
    top: 0px;
    z-index: 3;
}
.logo > img{
    position: fixed;
    height: 55px;
    width: auto;
    margin: 10px;
}
nav{
    color: #E5E3E3;
    position: fixed;
    background-color: #333333;
    width: 100%;
    top: 0;
    z-index: 2;
}
nav ol a {
    color: #E5E3E3;
    text-decoration: none;
    padding: 0 35px 0 35px;
    text-align: right;
    font-size: 15px;
    font-weight: 300;
}
a:hover{
    text-decoration: underline;
}
nav ol{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;
}




/*big layout*/
main{
    padding-top: 8vw;
    margin:auto;
    max-width: 90vw;
    text-align: center;
}

main > h1{
    color: #333333;
    font-weight: 500;
}
section{
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    align-items: space-around ;
} 



/* Article styling*/
article{
    width:300px;
    height: 400px;
    background-color: white;
    border-radius: 6px 6px 0 0; 
    font-weight: 500;
    margin: 2vw auto auto auto;
    position: relative;
    top: 0;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.pic{
    height:200px;
    width: 100%;
    background-color: pink;
    border-radius: 6px 6px 0 0; 
}
.sold{
    display: none;
    position: relative;
    background-color: #CC7C6E;
    top: 20px;
    width: 260px;
}
.sold h3{
    color: white;
    padding: 5px;
    margin: 0;
}

.alcohol{
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(images/alcohol.svg);
    top: 120px;
    background-repeat:no-repeat ;
    left: 10px;
}

article > div > h1 {
    text-align: center;
    margin:1vw;
    font-size: 20px;
}




/*right side of the thing*/
.right{
    height: 180px;
    display: flex;
    flex-flow: column;
}
.abc{
    display: flex;
    bottom: 10px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}
.vegan{
    font-size: 25px;
    color: #6ECCA3;
    line-height: 28px;
}
.alergens{
    display: none;
    margin: 10px;
    text-align: left;
}

.prices{
    display: flex;
    margin-top: auto;
}
.prices >h3 {
    margin:3px;
    font-size: 20px;
    color: #CC7C6E;
    text-decoration-line: line-through;
}
.prices > h2{
    margin:0;
    font-size: 30px;
    margin-left: 5px;
}
.line{
    width: 100px;
    height: 2px;
    background-color: #333333;
    margin-left: auto;
    margin-right: auto;
}




/* Article opened*/
article.span {
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

article.span > .pic {
    height:100%;
}

article.span > .pic >.alcohol{
    top: 300px;
}

article.span > .right{
    padding-top: 20px;
    display: flex;
    flex-flow: column;
}
article.span > .right > .alergens{
    display: block;
}
article.span > .right > .description{
    height: 200px;
}



/*Mobile and tablet view*/
@media only screen and (max-width: 1000px){
    main{
        margin-top: 4vw;
    }
    nav{
        z-index:1;
        display: none;

    }
    nav ol{
        display: block;
        padding-bottom: 30px;
    }
    nav ol li{
        text-align: center;
    }
    header > div{
        left:43vw;
        /* top: 75px; */
    }
    .burg{
        background-color: #333333;
        position: fixed;
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        border-radius: 0;
    }
    .burger{
        width: 100%;
        position: fixed;
        left:30px;
        top: 10px;
        z-index: 4;
    }
    .burger div{
        width: 30px;
        height: 2px;
        background-color: #E5E3E3;
        border-radius: 5px;
        margin: 5px
    }
}




/*Animations*/

.move{
    top: 75px;
    animation: ease-in-out 1s;
}

.grid--big-columns {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

.meal--expanded {
    grid-column: span 2;
  }  

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

.fade-in {
    opacity: 0;
    animation: fadeIn 0.4s forwards;
    animation-delay: 0.3s;
  }

  
.span {
    transform-origin: right;
    grid-column:span 2;
}
.visible{
    display: block;
}