/*Basics*/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

img {
    max-height: auto;
    max-width: auto;
    object-fit: contain;
}

body {
    margin: 0;
    background-color: #E5E3E3;
}

p {
    font-weight: 300;
    color: #333333;
    padding: 0 1vw;
    font-size: 15px;
}

/*header and navigation*/
header {
    margin-right: 5vw;
    width:100%;
    position: fixed;
    z-index: 4;
}

.logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #333333;
    position: relative;
    left: 50%;
    top: -20px;
    z-index: 5;
}
.burger{
display: none;
}
.logo>img {
    position: relative;
    height: 55px;
    width: auto;
    margin: 10px;
}

#navig{
    display: flex;
    color: #E5E3E3;
    position: fixed;
    background-color: #333333;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 4;
    justify-content: flex-end;
    padding-right: 4vw;
}

#navig a {
    text-decoration: none;
    color: #E5E3E3;
    padding: 1vw;
    text-align: right;
    font-size: 1.25vw;
    font-weight: 300;
}

#navig a:hover {
    text-decoration: underline;
}

#showfilt{
   flex: start;
   margin-right: auto;
}
#filters{
    display:none;
    position: absolute;
    top: 2vw;
    padding-top: 1vw;
    /* justify-content: flex-end; */
    width: 100%;
}
#filters >button{
    width: 10vw;
    font-size: 1vw;
    padding: .2vw;
    margin-left: 1vw;
    border-radius: 5vw 5vw;
    border: 3px solid #333333;
}
button.disabled{
    color: #E5E3E3;
    background-color: #333333;
    border: none;
}




/*big layout*/
main {
    margin:auto ;
    max-width: 90vw;
    text-align: center;
}

section {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: space-around;
}





/* Article styling*/
article {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 6px 6px 0 0;
    font-weight: 500;
    margin: 2vw auto auto auto;
    position: relative;
    top: 0;
    transition: all 1s ease-in-out;
    transform-origin: left;
    cursor: pointer;
}

.pic {
    height: 200px;
    width: 100%;
    background-color: pink;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    position: relative;
}
.mealphoto{
    height: 100%;
    width: auto;
    overflow: hidden;
}

.sold {
    display: none;
    position: absolute;
    background-color: #CC7C6E;
    top: 20px;
    width: 100%;
}

.sold h3 {
    color: white;
    padding: 5px;
    margin: 0;
}

.alcohol {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(images/alcohol.svg);
    top: 120px;
    background-repeat: no-repeat;
    left: 10px;
}

article>div>h1 {
    text-align: center;
    margin: 1vw;
    font-size: 20px;
}




/*right side of the thing*/
.right {
    height: 180px;
    display: flex;
    flex-flow: column;
}

.abc {
    display: flex;
    bottom: 10px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}

.vegan {
    font-size: 25px;
    color: #6ECCA3;
    line-height: 28px;
}

.alergens {
    display: none;
    margin: 10px;
    text-align: left;
}

.prices {
    display: flex;
    margin-top: auto;
}

.prices>h3 {
    margin: 3px;
    font-size: 20px;
    color: #CC7C6E;
    text-decoration-line: line-through;
}

.prices>h2 {
    margin: 0;
    font-size: 30px;
    margin-left: 5px;
}

.line {
    width: 100px;
    height: 2px;
    background-color: #333333;
    margin-left: auto;
    margin-right: auto;
}




/* Article opened*/
article.span {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article.span>.pic {
    height: 100%;
}

article.span>.pic>.alcohol {
    top: 300px;
}

article.span>.right {
    padding-top: 20px;
    display: flex;
    flex-flow: column;
    height: 380px;
}

article.span>.right>.alergens {
    display: block;
}

article.span>.right>.description {
    height: 200px;
}



/*Mobile and tablet view*/
@media only screen and (max-width: 1000px) {
    main {
        margin-top: 4vw;
    }

    .burg {
        background-color: #333333;
        position: fixed;
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .burger {
        display: block;
        width: 100%;
        position: fixed;
        left: 30px;
        top: 10px;
        z-index: 4;
    }
    .burger div {
        width: 30px;
        height: 2px;
        background-color: #E5E3E3;
        border-radius: 5px;
        margin: 5px
    }
    #navig {
        z-index: 4;
        position: absolute;
        top: 0;
        display: none;
        background-color:#333333;
    }
    #navig a {
        display: block;
        text-align: center;
        font-size: 15px;
    }
    .logo{
        left: 43%;
    }
}
@media only screen and (max-width: 650px){
    article.span {
        width: 300px;
    height: auto;
    grid-column: span 2;
    display: block;
    }
}
}



/*Animations*/

.move {
}

.span {
    grid-column: span 2;
    max-width: 600px;
    /* transform-origin: left; */
}
/* @media only screen and (max-width:700px){
    .span {
        grid-row: span 2;
        grid-column: span 1;
    }
} */
.open{
    display: block;
}
.visible {
    display: block;
}
#filters.visible {
    display: flex;
    background-color: #E5E3E3;
    padding-bottom: 1vw;;
}
.hidden{
    display: none;
}